.sidebar {
	list-style: none;
	position: fixed;
    top: 0;
    bottom: 0;
	cursor: pointer;
    padding-left: 2rem;
} 

.sidebar ul li {
    list-style: none;
    text-decoration: none;
    padding: 0.5rem;

	padding: 15px 50px 15px 10px;
	border-bottom: 1px solid #fff;
}
.sidebar a {
    color: #fff;
}


.upbar-nav {
    position: "fixed";
    z-index: 10;
    height: 0rem;
    top: 0;
    right: 0;
    padding: 10% 6%;

}

.upbar-containers {
    transform: translateY(-50%);
    display: flex;
    gap: 1rem;
}